body {
  margin: 0;
  font-family: 'Spectral', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.high {
  font-size: 60px
}

.item {
  color: #000080
}

.little-items {
  color: #333333
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}