body {
  margin: 0;
  font-family: 'Spectral', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.high {
  font-size: 60px
}

.item {
  color: #000080
}

.title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(9, 17, 45);
  color: #fff;
  height: 3rem;
  margin-top: 3rem;
  position: sticky;
}

.little-items {
  color: #333333
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}